body {
    background-color: #73c8a9;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to right, #72c89a, #373b44);
}

canvas {
    border: 5px solid #2e2e2e;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('assets/background-day.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#score-display {
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

